table {
  border-spacing: 0;
}

td {
  font-size: 400%;
  padding: 25px;
  cursor: pointer;
  user-select: none;
  width: 76px;
  height: 76px;
  text-align: center;
}

td.center {
  border: 1px solid black;
}

td.upper-left {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

td.upper-right {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

td.lower-left {
  border-top: 1px solid black;
  border-right: 1px solid black;
}

td.lower-right {
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
